{
  "env": {
    "jest": true
  },
  "globals": {
    "vue-jest": {
      "resources": {
        "scss": [
          "./node_modules/package/_mixins.scss",
          "./src/assets/css/globals.scss"
        ]
      }
    }
  }
}
